.swiper-container {
    width: 100%;
    height: 100%;
    position: relative;
}
.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.icon{
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 1.46rem;
    width: 0.7rem;
    height: 1.2rem;
    background: url('../img/icon.png') center/100% no-repeat;
}
.anim{
    position: fixed;
    z-index: 99;
    top: 0.3rem;
    right: 0.4rem;
    width: 0.43rem;
    height: 0.43rem;
    background: url('../img/mus.png') 0 0/200% no-repeat;
}

@for $i from 1 through 2{
    .page#{$i}{
        background: url('../img/bg#{$i}.jpg') 0 bottom/100% no-repeat; 
    }
}
.page1{
    .test{
        position: absolute;
        width: 6.49rem;
        height: 3.66rem;
        bottom: 6.05rem;
        margin: auto;
        left: 0;
        right: 0;
    }
}
.page3{
   
    overflow: scroll;
  
}  
.page4{
    background: url('../img/bg3.jpg') 0 bottom/100% no-repeat; 
}

//       长图公共
.com{
    position: absolute;
}
.ts{
    position: absolute;
    left: 5.14rem;
    width: 0.85rem;
}
// 
.long{
    width: 100%;
    position: relative;
    height: 85rem!important;
    background: url('../img/long/bg.jpg') 0 0 no-repeat;
    background-size:100%; 
    $partHs: (part1:13.56rem, part2:12.02rem, part3:12.34rem, part4:12.00rem,part5:18.99rem,part6:16.24rem);

    @each $key, $val in $partHs {
        .#{$key} {
            height:$val;
        }
    }

    @for $i from 1 through 6 {
        .part#{$i}{
            position: relative;
            background: url('../img/long/part#{$i}/bg.jpg') 0 0/100% 100% no-repeat;
        }
    }
    .part1{
        .test{
            top: 2.4rem;
            width: 6.03rem;
            left: 0.54rem;
        }
        .phone{
            top: 4.88rem;
            width: 4.23rem;
            left: 2.56rem;
        }
        .test1{
            top: 7.2rem;
            width: 2.2rem;
            left: 0.66rem;
        }
        .btn{
            top: 11.96rem;
            width: 4.42rem;
            left:0;
            right: 0;
            margin:auto;
        }
        .ts{
            top: 12.17rem;
        }
    }
    .part2{
        .test{
            top: 5.78rem;
            width: 1.51rem;
            left: 1.48rem;
        }
        .btn{
            top: 10.46rem;
            width: 4.42rem;
            left:0;
            right: 0;
            margin:auto;
        }
        .ts{
            top: 10.68rem;
        }
    }
    .part3{
        @for $i from 1 through 5 {
            .icon#{$i}{
                 background: url('../img/long/part3/icon#{$i}.png') 0 0/100% no-repeat;
             }
         }
        // 公共 
        .con{
          width: 2.32rem;
          height: 1.11rem;  
        }
        .active{
           background-position-y:-1.11rem;  
        }
        // 
    
        .icon2,.icon5{
            top: 3.96rem;
        }
        .icon3,.icon4{
            top: 6.62rem;
        }
        .icon1{
            top: 2.48rem;
            left: 2.84rem;
        }
        
        .icon2{
            left: 5.1rem;
        }
        .icon5{
            left: 0.56rem;
        }
        .icon3{
            left: 4.45rem;
        } 
        .icon4{
            left: 1.37rem;
        }
        .btn{
            top: 10.56rem;
            width: 4.42rem;
            left:0;
            right: 0;
            margin:auto;
        }
        .ts{
            top: 10.78rem;
        }
        .text{
            top: 8.15rem;
            width: 4.89rem;
            height: 1.74rem;
            left: 0.86rem;
            background: url('../img/long/part3/text.png') 0 0/100% no-repeat;
        }
    }
    .part4{

        @for $i from 1 through 4 {
            .icon#{$i}{
                 background: url('../img/long/part4/img.png') calc(-1.29rem*(#{$i} - 1)) 0 no-repeat;
             }
         }
         @for $i from 1 through 4 {
            .iicon#{$i}{
                 background: url('../img/long/part4/img.png') calc(-2.86rem*(#{$i} - 1)) -1.3rem no-repeat;
             }
         }
        //公共
         .t-com{
             display: none;
         }
         .ii-com{
             display: none;
         }
        .con{
            width: 1.29rem;
            height: 1.29rem;  
            background-size:11.41rem 3.03rem; 
            z-index: 5;
          }
        .con1{
            width: 2.83rem;
            height: 1.73rem;
            background-size:11.41rem 3.03rem; 
            z-index: 4;
        }  
        .text-acitve{
            display: block;
        }
        .ii-active{
            display: block;
        }
          // 
          
         .icon1,.icon4{
            top: 5.14rem;
         }
         .icon2,.icon3{
             top: 6.29rem;
         }
         .icon1{
             left: 1.14rem;
         }
         .icon4{
            left: 5.43rem;
         }
         .icon2{
             left:2.47rem;
         }
         .icon3{
             left: 4.24rem;
         }

         .iicon1,.iicon4{
             top: 4.91rem;
         }
         .iicon4{
             left: 4.12rem;
         }
         .iicon1{
             left: 0.89rem;
         }
         .iicon2,.iicon3{
             top: 6.07rem
         }
         .iicon2{
             left: 1.16rem;
         }
         .iicon3{
             left: 4.06rem;
         }
         .text1{
             top: 7.44rem;
             left: 0.97rem;
             width: 5.87rem;
         } 
         .text2{
             top: 7.95rem;
             left: 1.53rem;
             width: 4.7rem;
         } 
         .text3{
            top: 7.95rem;
            left: 1.53rem;
             width: 4.7rem;
         }
         .text4{
             top: 7.75rem;
             left: 1.83rem;
             width: 4.4rem;
         }
         .btn{
            top: 10.32rem;
            width: 4.42rem;
            left:0;
            right: 0;
            margin:auto;
        }
        .ts{
            top: 10.54rem;
        }
    }
    .part5{
        .con1,.con2,.con3{
            width: 5.16rem;
            left: 0.73rem;
        }
        .con1{
            top:2.54rem;
        }
        .con2{
            top:6.83rem;
        }
        .con3{
            top:13.16rem;
        }
        $top5:17.36rem;
        .btn{
            top: $top5;
            width: 4.42rem;
            left:0;
            right: 0;
            margin:auto;
        }
        .ts{
            top:17.58rem;
        }
    }
    .part6{
        .btn{
            top: 12.79rem;
            width: 4.42rem;
            left:0;
            right: 0;
            margin:auto;
        }
        .ts{
            top:13.01rem;
        }
    }
}